.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 12px 0;
    padding-top: 16px;
}

.chipWrapper {
    margin-top: 12px;
}

.chipItem {
    margin-right: 12px;
}

